body {
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

header {
  background-color: #fa81c2;
  color: white;
}

label {
  font-weight: 400;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #fa81c2;
  color: white;
}

input:focus,
textarea:focus {
  outline: 2px solid #fa81c2;
}

a {
  text-decoration: none;
}

h2 a {
  font-size: 1.2rem;
}

.heading {
  font-size: 2rem;
}

.new-entry-button {
  cursor: pointer;
  height: 30px;
  margin-top: 25px;
}

span {
  font-size: 1.1rem;
}

.edit-icon {
  cursor: pointer;
}
